<?xml version="1.0" encoding="utf-8"?>
<data>

<mapSettings 

mapWidth = "646"
mapHeight = "654"

offColor = "e2e2e2"
strokeColor = "24221f"

useSideText = "false"
textAreaWidth = "300"
textAreaPadding = "10"

/>

<defaultSideText>
  <![CDATA[]]>
</defaultSideText>

<stateData stateName="Iceland" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Tunisia" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Faroe Islands" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Ireland" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Guernsey" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Isle Of Man" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Jersey" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Great Britain" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Malta" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Santa Marina" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Vatican" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Belgium" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Luxembourg" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Portugal" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Norway" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Palestine" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Lebanon" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Georgia" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Lybia" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Maroc" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Serbia" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Kosovo" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Sweden" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Andorra" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Albania" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Bosnia" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Croatia" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Macedonia" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Bulgaria" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Cyprus" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Turkey" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Austria" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Czech Republic" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Denmark" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Hungary" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Poland" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Slovakia" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Slovenia" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Germany" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Liechtenstein" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Switzerland"  url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Belarus" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Estonia" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Latvia" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Lithuania" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Moldova" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Romania" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Ukraine" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Montenegro" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Netherland" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>


<stateData stateName="Italy" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Greece" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="France" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Russia" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Spain" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Algeria" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Egypt" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Saudi Arabia" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Jordan" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Syria" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Israel" url = "" stateMode = "OFF" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

<stateData stateName="Finland" url = "" stateMode = "ON" initialStateColor= "1da33f" stateOverColor = "0b8028" stateSelectedColor = "feb41c">
<![CDATA[]]>
</stateData>

</data>