
.container {
	 @extend .uk-container;
	 @extend .uk-container-center; // centres things
	//@extend $control-height;
}

// hide text for image replacement
.offscreen {
  // position:absolute;
  // left:-10000px;
  // top:auto;
  // width:1px;
  // height:1px;
  // overflow:hidden;
  // 
  display: block;
	border: 0;
	text-indent: -9999px;
}

