@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Source+Sans+Pro:400,400i,600&subset=latin-ext');
$bitter :  'Bitter', serif;
$source :  'Source Sans Pro', sans-serif;
$base-body-font-family: $source;
$base-heading-font-family: $bitter;

$fourteenpt: 1em;
$eighteenpt: 1.2em;

$base-link-color: #006fb8;
$base-link-hover: #005188;

$spacer: 1rem; // setting a referenced bootstrap variable
$icon-font-path:                                 "../fonts" !default;


// Colors
$brand-primary:         #27ae60;
$midgrey: #E9E9E9;
$darkgrey: #535353;
$black: #333;

$brand-pink : #CB0056;
$brand-maroon: #8A0035;
$brand-yellow: #8A0035;
$brand-green: #289932;
$brand-blue: #2056A8;
$button-blue: #296CB7;
$rollover-blue: #005188;

$enviro : #88C889;
$part-enviro: #38FF2A ;


// UIkit resets
$navbar-background : none;
$navbar-nav-hover-background : rgba(0,0,0,0.3);
$navbar-nav-active-background:  white ;
$navbar-nav-active-color: $black;
$navbar-nav-onclick-background: rgba(0,0,0,0.3) ;
$navbar-nav-onclick-color: rgba(255,0,0,0.8) ;
$navbar-nav-focus-background:  rgba(0,0,0,0.5) ;
$button-background: $button-blue;
$button-hover-background: $rollover-blue;
$button-active-background: $rollover-blue;
$button-color: white;
$button-hover-color: white;
$base-body-color: $black;
$base-heading-color: $black;
