.nav {
	@extend .uk-navbar-nav;
	@extend .uk-hidden-small;
}
.banner{
	background:  $midgrey url(../images/stripe_top.gif) repeat-x;
	padding-top: 34px;
	.uk-nav{
		margin-top: 1.2em;
	}
	.brand{
		font-family: $bitter;
		font-size: 2.3em;
		line-height: 1.2em;
		letter-spacing: 50;
		a {
			color: $black;
		}
	}
	.blogdesc {
		font-family: $source;
		font-size: $eighteenpt;
	}


	.uk-search{
		background: white;
		&:before {
		    right: 0;
		    left: auto;
		    color: $darkgrey;	
		}
		.uk-search-field{
			    padding: 0 30px 0 5px;
		}
	}
	.find-nav{
		text-transform: uppercase;
		.find-label{
			font-family: $bitter;
			border-bottom: 2px solid $midgrey;
			background-color: $brand-pink;
			color: white;
			padding-left: 5px;
			margin-bottom: 5px;
		}
		.nav{
			background-color: $brand-maroon;
			li a{
				color: white;
				display: inline-block;
				font-size: $eighteenpt;			
			}
			li:first-of-type::before{
					margin-right: 0;
					border-left: 0;
			}
		}
	}
	.menu-pages-nav-container{

		a{
			font-size: $eighteenpt;
		}
	}
}



.menu-item-has-children i{padding-left: 0.4em;}


.homebanner {
	background: black;
	.uk-panel{
		flex:1;
		display: flex;
		align-items: stretch; // make my junk stretch the complete height sir mixalot.
		flex-direction: column; // stuff can't be a row. gotstah be a column.
		.uk-panel-footer {
			 display: flex; // set the context
			  flex: 1; // flex an equal amt of space yo!
			  align-items: flex-end; // make that shit sit on the bottom dawg.
			  justify-content: center; // center the text horizontally suckah. the poor man's text-align: center	
		}
	}
	h2, h3{
		color: white;
		text-transform: uppercase;
		font-family: $bitter;
	}
	h2{ }
	hr{ margin: 15px 40% 30px 40%;}
}